.carousel {
    overflow: hidden;
 
}

.inner {
    white-space: nowrap;
    transition: transform 0.5s;

}

.carousel-item {
    display: inline-flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    justify-items: end;
    height: 250px;
    color: #fff;
    
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}

.indicators > button.active {
    background-color: green;
    color: #fff;
}