@import url(https://fonts.googleapis.com/css2?family=Fredericka+the+Great);

.App {
  text-align: center;
}
body {
  /* background: linear-gradient(90deg, #fbeec1, #8d8741) */
  /* background-color: #31708e; */
  /* zoom: 150%; */
  background-image: url("./images/j-photos-yY1KhFBlisg-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2{
  margin: 0px;
  color: #8fc1e3;
}

h1 {
  margin: 0px;
  color: #8fc1e3;
  font-family: Fredericka the Great;
}

.highcharts-button-box {
  fill: #8fc1e3;
  stroke: #5085a5;
}

.button {
  background-color: #8fc1e3;
  color: #31708e;
  border-color: #5085a5;
}